{% extends "base.html.twig" %}

{% block body %}
    <h1>Connexion</h1>

        {% if error %}
    <div class="alert alert-danger">{{ error }} </div>
        {% endif %}

    {{ form_start(loginForm) }}
    {{ form_widget(loginForm) }}
    <button class="btn btn-success">Connexion</button>

    {{ form_end(loginForm) }}
{% endblock %}